{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
<div class="main-container">
    <header class="header">
        <div class="logo">Mabel by human<br>
            <p>Производство мебели</p></div>
        {% include 'expense/includes/navbar.html' %}
        <div class="contact-info">
            <p class="contact-time">Пн-Вс с 10:00 до 19:00</p>
            <p class="contact-number">+7 922 123 67 87</p>
        </div>
    </header>

    <section class="main-screen">
        <h4 class="main-title">Произведем доставим соберем</h4>
        <h1 class="main screen-title">Производство мебели любой сложности<br>по вашим размерам</h1>
        <div class="buttons">
            <a href="#" class="btn catalog">Перейти в каталог</a>
            <a href="#" class="btn calculate">Рассчитать стоимость</a>
        </div>
    </section>

    <section class="advantages">
        <div class="benefits">
            <div class="benefits-text"><p>Собственное производство мебели</p></div>
            <div class="benefits-text"><p>Гарантия на всю продукцию</p></div>
            <div class="benefits-text"><p>Более 200 цветов на выбор</p></div>
            <div class="benefits-text"><p>Индивидуальная помощь дизайнера</p></div>
        </div>
    </section>
</div>
<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    <section class="order-section">
        <div class="container">
            <div class="form-container">
                <h2 class="form-title">Заказать расчет</h2>

                <form action="#" method="POST">
                    <label>
                        <input type="text" name="username" autocomplete="name" placeholder="Ваше имя" required>
                    </label>
                    <label>
                        <input type="tel" name="phone" autocomplete="tel" placeholder="Контактный телефон" required>
                    </label>
                    <label>
                        <textarea name="comment" placeholder="Комментарий"></textarea>
                    </label>

                    <div class="upload">
                        <label class="file-upload">
                            <input type="file" accept=".jpg, .pdf">
                            <span>Загрузить файл</span>
                        </label>
                        <p class="file-info">Максимальный размер 100 МБ<br>Допустимые типы файлов: .jpg, .pdf</p>
                    </div>
                    <button type="submit" class="submit-btn">Заказать расчет</button>
                </form>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__brand">
                    Mabel by Human
                    <p class="footer__tagline">Производство мебели</p>
                </div>
                <div class="footer__info">
                    <p class="footer__title">ИНФОРМАЦИЯ</p>
                    <ul class="footer__list">
                        <li><a href="#" class="footer__link">О нас</a></li>
                        <li><a href="#" class="footer__link">Наши проекты</a></li>
                        <li><a href="#" class="footer__link">Сотрудничество</a></li>
                        <li><a href="#" class="footer__link">Доставка и сборка</a></li>
                    </ul>
                </div>
                <div class="footer__contacts">
                    <p class="footer__title">КОНТАКТЫ</p>
                    <a href="#" class="footer__contact">+7 922 123 67 87</a>
                    <a href="#" class="footer__contact">г. Санкт-Петербург,<br>ул. Парадная д. 8 лит Г</a>
                    <a href="#" class="footer__contact">human@mail.ru</a>
                </div>
                <div class="footer__callback">
                    <p class="footer__title">ЗАКАЗАТЬ ЗВОНОК</p>
                    <label>
                        <input type="text" class="footer__input footer__input--name" autocomplete="name" placeholder="Ваше имя" required>
                    </label>
                    <label>
                        <input type="tel" class="footer__input footer__input--phone" autocomplete="phone" placeholder="Телефон" required>
                    </label>
                    <button type="send" class="footer__button">Отправить</button>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© Mebel by human 2025</p>
                <a href="/privacy-policy" class="footer__link">Политика в отношении персональных данных</a>
            </div>
        </div>

    </section>


</footer>
</body>
</html>
